In [2]:
import pandas as pd

In [1]:
import json
f = open("merged_all_no_duplicates-csv.json", "r")
dict_reports = f.read()
f.close()

In [3]:
table = pd.read_json(dict_reports)

In [4]:
table.describe()

,BODY & INTERIOR QUALITY - DESIGN,BODY & INTERIOR QUALITY - MECHANICAL,FEATURES & ACCESSORIES QUALITY - DESIGN,FEATURES & ACCESSORIES QUALITY - MECHANICAL,Mileage,OVERALL QUALITY - DESIGN,OVERALL QUALITY - MECHANICAL,POWERTRAIN QUALITY - DESIGN,POWERTRAIN QUALITY - MECHANICAL,Price_Dealers_Retail,Price_Private_Sale,Price_Trade-In,Summary_Accidents,Summary_Junk_Salvage,Summary_Recalls,Summary_Theft,Summary_Title_Problems,year
count,11054.000000,11054.000000,11054.000000,11054.000000,15892.000000,11054.000000,11054.000000,11054.000000,11054.000000,13280.000000,13280.000000,13280.000000,15936.000000,15936.000000,15936.000000,15936.000000,15936.000000,15940.000000
mean,3.409399,3.403157,3.623711,3.493713,42497.701359,3.541478,3.378279,3.335173,3.220463,16035.226657,14560.086446,12882.327786,0.011797,0.002134,3.367093,0.000126,0.001381,2014.139460
std,0.929235,0.846629,0.896583,0.954322,31768.787255,0.977871,0.890147,0.934002,0.892976,11067.915249,10724.774459,10232.956041,0.132978,0.073433,3.158152,0.015843,0.051321,3.025925
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2000.000000,1063.000000,500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1990.000000
25%,3.000000,3.000000,3.000000,3.000000,23142.250000,3.000000,3.000000,2.500000,2.500000,12006.000000,10459.000000,8837.000000,0.000000,0.000000,1.000000,0.000000,0.000000,2014.000000
50%,3.500000,3.500000,3.500000,3.500000,35888.000000,3.500000,3.500000,3.500000,3.000000,14930.500000,13591.000000,11800.000000,0.000000,0.000000,3.000000,0.000000,0.000000,2015.000000
75%,4.000000,4.000000,4.500000,4.500000,49672.250000,4.500000,4.000000,4.000000,4.000000,17868.000000,16421.000000,14766.000000,0.000000,0.000000,5.000000,0.000000,0.000000,2016.000000
max,5.000000,5.000000,5.000000,5.000000,722414.000000,5.000000,5.000000,5.000000,5.000000,782387.000000,746898.000000,703523.000000,4.000000,4.000000,23.000000,2.000000,4.000000,2018.000000

In [5]:
table.columns.values

array([u'BODY & INTERIOR QUALITY - DESIGN',
       u'BODY & INTERIOR QUALITY - MECHANICAL', u'City MPG', u'Drive Type',
       u'Engine', u'Exterior Color',
       u'FEATURES & ACCESSORIES QUALITY - DESIGN',
       u'FEATURES & ACCESSORIES QUALITY - MECHANICAL', u'Fuel Type',
       u'Hwy MPG', u'Interior Color', u'Issues_Detail', u'Mileage',
       u'OVERALL QUALITY - DESIGN', u'OVERALL QUALITY - MECHANICAL',
       u'Odometer_Mileage', u'POWERTRAIN QUALITY - DESIGN',
       u'POWERTRAIN QUALITY - MECHANICAL', u'Price_Dealers_Retail',
       u'Price_Private_Sale', u'Price_Trade-In', u'Recalls_Detail',
       u'Summary_Accidents', u'Summary_Junk_Salvage', u'Summary_Recalls',
       u'Summary_Theft', u'Summary_Title_Problems', u'Title_Problem_Check',
       u'Total Seating', u'Transmission', u'Trim', u'Vehicle_Use',
       u'Warranty', u'Year_Make_Model', u'address', u'make', u'model',
       u'original-model', u'price', u'space', u'vin', u'year'], dtype=object)

In [6]:
import numpy as np
table['price'] = table['price'].replace('Unknown', np.nan)

In [11]:
table['price'].describe()

count     15488
unique     3739
top       13995
freq        132
Name: price, dtype: object

In [12]:
table['price'] = pd.to_numeric(table['price'])

In [13]:
table['price'].describe()

count     15488.000000
mean      15706.463197
std       11499.161402
min         788.000000
25%       11980.000000
50%       14300.000000
75%       16991.000000
max      437880.000000
Name: price, dtype: float64

In [16]:
table['Summary_Recalls'].describe()

count    15936.000000
mean         3.367093
std          3.158152
min          0.000000
25%          1.000000
50%          3.000000
75%          5.000000
max         23.000000
Name: Summary_Recalls, dtype: float64

In [19]:
table['price_diff_per'] = (table['price']-table['Price_Dealers_Retail'])/table['Price_Dealers_Retail']

In [20]:
table['price_diff_per'].describe()

count    12907.000000
mean        -0.033474
std          0.268332
min         -0.757463
25%         -0.176401
50%         -0.058069
75%          0.075218
max         11.281399
Name: price_diff_per, dtype: float64

In [33]:
table['price_score'] = ((table['price_diff_per'].apply(lambda x: 1 if x >= 1 else x)) - table['price_diff_per'].min()) / (1 - table['price_diff_per'].min())

In [43]:
table['price_score'] = 1 - table['price_score'] # reverse scale

In [44]:
table[['price_diff_per', 'price_score']]

       price_diff_per  price_score
0           -0.279677     0.728139
1            0.193093     0.459132
2            0.012786     0.561727
3            0.090377     0.517577
4           -0.291709     0.734985
5            0.041667     0.545294
6                 NaN          NaN
7           -0.157533     0.658639
8           -0.060168     0.603238
9           -0.007937     0.573518
10           0.615335     0.218875
11          -0.171296     0.666470
12           0.055981     0.537149
13          -0.163742     0.662172
14          -0.125213     0.640248
15                NaN          NaN
16          -0.057540     0.601742
17                NaN          NaN
18          -0.112216     0.632853
19                NaN          NaN
20           0.051298     0.539813
21          -0.182798     0.673015
22                NaN          NaN
23          -0.211016     0.689071
24           0.070398     0.528945
25                NaN          NaN
26          -0.064863     0.605909
27                NaN          NaN
28           0.159524     0.478233
29           0.050397     0.540326
...               ...          ...
15910       -0.122139     0.638499
15911        0.083035     0.521755
15912        0.126349     0.497109
15913       -0.043437     0.593718
15914        0.139688     0.489519
15915       -0.161821     0.661078
15916       -0.064838     0.605895
15917             NaN          NaN
15918        0.258711     0.421795
15919        0.144578     0.486737
15920        0.538314     0.262701
15921       -0.137068     0.646994
15922        0.094657     0.515142
15923       -0.055116     0.600363
15924        0.171163     0.471610
15925       -0.051397     0.598247
15926        0.231017     0.437553
15927       -0.239601     0.705335
15928       -0.103331     0.627797
15929        0.130418     0.494794
15930        0.030584     0.551600
15931        0.020901     0.557109
15932             NaN          NaN
15933       -0.073209     0.610658
15934        0.649112     0.199656
15935        1.764894     0.000000
15936       -0.050277     0.597610
15937             NaN          NaN
15938        0.062363     0.533517
15939             NaN          NaN

[15940 rows x 2 columns]

In [45]:
table['mileage_year'] = table['Mileage'] / (2017 - table['year'].apply(lambda x: 2017 if x >= 2017 else x) + 1) 
# maybe year 2018 model

In [60]:
table['mileage_year_score'] = 1 - (table['mileage_year'].apply(lambda x: 20000if x>=20000 else x) / 20000)

In [64]:
table['mileage_year_score'].describe()

count    15892.000000
mean         0.412694
std          0.274199
min          0.000000
25%          0.173877
50%          0.449877
75%          0.620792
max          1.000000
Name: mileage_year_score, dtype: float64

In [40]:
table['year'].describe()

count    15940.000000
mean      2014.139460
std          3.025925
min       1990.000000
25%       2014.000000
50%       2015.000000
75%       2016.000000
max       2018.000000
Name: year, dtype: float64

In [47]:
df2 = pd.read_csv("truecar_url.csv")
df1 = pd.read_csv("edmunds_url.csv")
urls = pd.concat([df1, df2])

In [53]:
table = table.join(urls.set_index('vin'), on='vin')

In [58]:
table = table.drop_duplicates(subset=['vin'])

In [69]:
table['recall_score'] = 1 - (table['Summary_Recalls']/(table['Summary_Recalls'].max() - table['Summary_Recalls'].min()))

In [72]:
table['rating_score'] = (table['BODY & INTERIOR QUALITY - DESIGN'] + table['BODY & INTERIOR QUALITY - MECHANICAL'] + table['FEATURES & ACCESSORIES QUALITY - DESIGN'] + table['FEATURES & ACCESSORIES QUALITY - MECHANICAL'] + table['OVERALL QUALITY - DESIGN'] + table['OVERALL QUALITY - MECHANICAL'] + table['POWERTRAIN QUALITY - DESIGN'] + table['POWERTRAIN QUALITY - MECHANICAL']) / 40

In [74]:
table['rating_score'].describe()

count    11054.000000
mean         0.685134
std          0.118719
min          0.000000
25%          0.600000
50%          0.700000
75%          0.775000
max          0.975000
Name: rating_score, dtype: float64

In [76]:
table['score'] = table['rating_score'].apply(lambda x: 0 if x is np.nan else x) * 20 + \
table['recall_score'].apply(lambda x: 0 if x is np.nan else x) * 10 + \
table['mileage_year_score'].apply(lambda x: 0 if x is np.nan else x) * 30 + \
table['price_score'].apply(lambda x: 0 if x is np.nan else x) * 40

In [78]:
table['score'].describe()

count    10398.000000
mean        58.392275
std          8.031637
min         31.169745
25%         52.439792
50%         58.425033
75%         64.259776
max         84.976546
Name: score, dtype: float64